{varType App\Model\Database\Entity\Article[] $articles}
{varType string $categoryName}

{block #content}
	<h2 class="cover-heading">{$categoryName}</h2>
	{foreach $articles as $article}
		{include 'parts/article.latte',article: $article}
	{/foreach}
{/block}
