{varType App\Model\Database\Entity\Article[] $articles}
{varType int $page}

{block #content}
	<h2 class="cover-heading" n:block="#title">
		Nejnovější články
		{if $page > 1}
			<small class="text-muted">- strana {$page}</small>
		{/if}
	</h2>
	{foreach $articles as $article} {* projdeme všechny články *}
		{include 'parts/article.latte',article: $article}
	{/foreach}
	{include 'parts/paginator.latte'}
{/block}
