{layout '../../Base/templates/@layout.latte'}

{block #head}
	<link rel="stylesheet" href="{$basePath}/assets/bootstrap.min.css" defer/>
	<link rel="stylesheet" href="{$basePath}/assets/front.css" defer/>
	<script src="{$basePath}/assets/front.js" defer></script>
	<script src="{$basePath}/assets/fslightbox.js" defer></script>

{/block}

{block #main}
	<div class="container-fluid d-flex flex-column">
		<header class="masthead">
			<div class="inner">
				<h3 class="masthead-brand" title="Synthetic Magazine">
					<a n:href=":Front:Home:default">
						<img src="/favicon-32x32.png" alt="">
						<span class="d-none d-lg-inline">
							Synthetic Magazine
						</span>
					</a>
				</h3>
				<nav class="nav nav-masthead justify-content-center">
					<a n:class="$presenter->isLinkCurrent(':Front:Home:') ? active, nav-link" n:href=":Front:Home:default">Home</a>
					{foreach \App\Model\Database\Entity\Article::CATEGORIES_ENABLED as $categoryId}
						<a n:class="$presenter->isLinkCurrent(':Front:Home:category', $categoryId) ? active, nav-link" n:href="category, $categoryId">{\App\Model\Database\Entity\Article::CATEGORIES_NAMES[$categoryId]}</a>
					{/foreach}
				</nav>
				<div class="clearfix"></div>
			</div>
		</header>


		<div class="container">
			<main role="main" class="inner">
				{include content}
			</main>
		</div>

		<footer class="mastfoot p-3 mt-auto text-center">
			<div class="inner">
				&copy; {=date('Y')} Synthetic Magazine, All rights reserved
			</div>
		</footer>
	</div>
{/block}
